.font-size-22{
	font-size:22px;
}

.font-weight-medium {
	font-weight: $font-weight-medium;
}
.font-weight-regular{
	font-weight:$font-weight-normal;
}

.font-size-16{
	font-size: 16px;
}


.min-height-440{
	min-height: 440px;

}

.overflow-hidden{
	overflow: hidden;
}


.min-height-270{
	min-height: 270px;
}

.max-height-270{
	max-height: 270px;
}

.min-height-415{
	min-height: 415px;
}