.breadcrumb{
	padding-left: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 0;
	background-color: transparent;
	a{
		color: $cyan;
		&:hover{
			color: $primary;
			transition: .2s;
		}
	}
	.breadcrumb-item +.breadcrumb-item::before{
		display: inline-block;
		padding-right: 0.5rem;
		color:$green;
		content: "-";
	}
	.breadcrumb-item.active{
		color:$dark;
	}
}

.sort-block .small{
	padding-left: 14px;
	padding-right: 20px;
}

	.sort-block-fa{
		a.disabled {
			pointer-events: none;
			}
	}

	.sort-block-fa :last-of-type{
		color:$sort-block-fa;
		margin-left: 12px;
		&:hover{
			color:$primary;
		}
	}