.range {
	background-color: $white;
	.ui-slider-handle {
	width: 1rem;
	height: 1rem;
	top: -0.3125rem;
	border: 0.3125rem solid $primary;
	border-radius: 50%;

	&:focus, &:active {
	outline: none;
	background: $white;
	}
	}

	.ui-slider-horizontal {
	height: 0.3125rem;

	}

	.controls {

	.ui-slider-range {
		background: $dark;
		}
	#price-range {
	border: none;
	background: $alice-blue;
	border-radius: 0;

	}

	span{
	font-size: 15px;
	color: $bermuda-grey;
	display: inline-block;
	margin-top: 12px;
	}
	}
	}