.range {
	background-color: $white;
	.ui-slider-handle {
		width: 1rem;
		height: 1rem;
		top: -0.3125rem;
		border: 0.3125rem solid $primary;
		border-radius: 50%;

		&:focus, &:active {
			outline: none;
			background: $white;
		}
	}

	.ui-slider-horizontal {
		height: 0.3125rem;

	}

	.controls {
		#price-range {
			border: none;
			background: $gray-400;
			border-radius: 0;
			.ui-slider-range {
				background: $dark;
			}
		}
	}

	.textinputs {
		@extend .clearfix;
		padding: 1.5rem 0;
		input {
			width: 4rem;
			display: block;
			float: left;
		}
		input:last-child {
			float: right;
		}
	}
}