
.bg-isotope{
background-color:$isotope-bgc;
}

.filter-button-group{
		button{
			font-weight: 500;
			background-color:$white;
			border: 0;
			padding: 8px 20px;
			margin: 6px 2px;
			border: $border-width solid transparent;
			cursor: pointer;

			&:hover{
				border: $border-width solid transparent;
				box-shadow: $box-shadow;
				transition: all .2s ease;
			}
			&.is-checked{
				background-color: $secondary;
				color: $white;

			}
		}
	}
.links-area{
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	align-items: center;
	li{
		padding: 5px 5px;
	}

	.link-btn{
		display: inline-block;
		background: $white;
		padding: 12px 30px;
		text-align: center;
		border: $border-width solid transparent;
		border-radius: $border-radius;
		color: $dark;
			&:hover{
				border: $border-width solid $primary;
				transition: all .2s ease-in;
			}
	}
}