

// style for why chhose us


// .box-shadow{
// 	box-shadow: 0px 12px 29px 0 rgba(0, 0, 0, .35)
// }



// .author-inner{
// 	background-color: $primary;
// 	max-width: 650px;
// 	min-height: 215px;
// 	padding: 70px 60px 70px 60px;


// 	.author-inner-tittle{
// 		font-size: 30px;
// 		color: $white;
// 		margin-bottom: 0;
// 		font-weight: 400;
// 		margin-right: 50px;

// 	}
// 	&-button{
// 		display: inline-block;
// 		text-align: center;
// 		background-color:$white;
// 		font-size: 18px;
// 		line-height: 36px;
// 		color: $dark;


// 	}

// }

// .helper-title-text{
// 	font-weight: bold;
// 	font-size: 36px;
// }


.author-title{
	height: 440px;
	img{
		width: 100%;
		border-radius: 0;
	}
	.author-inner-wrapper{
		min-height: 220px;
		max-width: 650px;
		position: absolute;
		padding: 70px 60px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $primary;
		width: 100%;
		height: 100%;
		opacity: 0.9;
			@media (min-width: 576px){
				width: 57%;
				height: auto;
				padding: 45px 35px;
			}
			@media (min-width: 992px){
				padding: 70px 35px;
			}
		}

	.author-inner-tittle{
		font-size: 30px;
	}
	.author-inner-button{
		background-color:$white;
		color: $dark;
		display: inline-block;
		min-width: 223px;
		font-size: 18px;
		line-height: 36px;
		padding: 10px 40px;
		text-align: center;
	}
}

// Helper section
.card{
	&:hover{
		box-shadow: none;
	}

.card-img-top-wrapper-helper{
	max-height: 270px;
	overflow: hidden;

	img{
		width: 100%;
		border-radius: 0;
	}
}
.helper-footer{
	padding: 1.3rem 0.65rem 1.3rem 0.65rem;
	background-color:$gray-300;
	text-align: center;
	.helper-footer-link{
	display: inline-block;
	text-align: center;
	font-size: 24px;
	color: $dark;
	font-weight: bold;
		&:hover{
			color: $primary;
			transition: $transition-base;
		}
	}
}
}


// Contact Us

.auth-container{
	border: 1px solid $gray-400;
}




.contact-block{
	.link-dark-phone{
		font-size: 15px;
		padding-left: 40px;
		color: $gray-900;

			&:hover{
				color:$primary;
			}
	}
	padding-bottom: 30px;
	span{
		color: $primary;
		margin-right: 24px;
		font-size: 24px;
		}

			.contact-block-title{
				position: relative;
				display: flex;
				align-items: center;
				margin-bottom: 42px;
				&:before {
					position: absolute;
					left: 40px;
					bottom: -20px;
					content: "";
					height: 3px;
					width: 45px;
					background: $primary;
				}
			}
		}


// main-banner-wrapper
.stylish-input-group{
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background: $white;
	border-radius: $border-radius;

	&:hover{
		box-shadow: 0 0.0625rem 0.625rem 0 rgba(124, 178, 64, 0.75);
	}

	.form-control{
		border: 0;
		box-shadow: 0 0 0;
		border-color: $gray-50;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.0625rem;
		color: $banner-wrapper-color;
	}

	button{
		border: 0;
		background: transparent;
		height: 100%;
		opacity: 0.7;

		i{
			font-size: 1.25rem;
		}
	}

	button:hover{
		opacity: 1;
		cursor: pointer;
	}
}



// why choose us
.service{

	&:hover > &-img{
		border: $border-width solid $primary;
		background-color: $gray-83;
	}

	&-img{
		box-sizin: border-box;
		width: 113px;
		height: 113px;
		border-radius: 50%;
		background-color: $gray-800;
	}

	&-header{
		color: $white;

		&:hover{
			color: $primary;
		}
	}

	&-text{
		font-size: 0.9375rem;
		line-height: 1.5rem;
		color: $choose-section;
	}
}

		#map {
			height: 410px;
			width: 100%;
		}


// about-foxtar-page

.about-inner-page{
	border: 1px solid $gray-400;
		.border-gray{
			border-bottom: 1px solid $gray-400;
		}
		.about-foxtar-inner-text{

			p{
				font-size: 15px;
				margin-bottom: 0;
			}
		}
}