.navbar{
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}
.navbar-expand-md {
	padding-left: 0;
	padding-right: 0;
	.navbar-nav {
		font-size: 14px;
		font-weight: 500;

		@media(min-width: 768px){
			margin-left: -1rem;
			margin-right: -1rem;
		}
		// .nav-item:first-of-type{
		// 	@media(min-width:768px){
		// 		.nav-link{
		// 			padding-left: 0;
		// 		}
		// 	}
		// }
		.nav-link{
				@media(min-width: 768px){
						padding-left: 1rem;
						padding-right: 1rem;
				}
			}
		}
	}


.navbar-dark .navbar-nav .nav-link{
	font-size: 14px;
	color: $white;
	&:hover{
		color: $primary;

	}
}