.sidebar-block{
	background: $white;
	border: 1px solid $gray-400;
	padding: 1.5625rem;

	& + .sidebar-block{
		margin-top: 30px;
	}

	h4{
		padding-bottom: 20px;
		margin-bottom: 30px;
		border-bottom: 1px solid $gray-400;
	}

	.card{
		border: none;
		box-shadow: none;

		& + .card{
			margin-top: 30px;
			border-top: 1px solid $gray-400;
			padding-top: 30px;
		}

		&-body,
		&-footer{
			padding-left: 0;
			padding-right: 0;
		}

		&-footer{
			border-top: none;

			.card-author-img{
				margin-right: 6px;
			}
		}

		&-title{
			font-size: 1rem;
		}

		&-price,
		&-title{
			font-weight: $font-weight-bold;
			color: $dark;
		}
	}
}