// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	&:last-child{
		margin-bottom: 0;
	}
}

h4, .h4{
	font-weight: $heading-4-font-weight;
}

// Links
a,
a:hover{
	transition: 0.2s;
}
p:last-of-type{
	margin-bottom: 0;
}

// sidebar

.sidebar-block h4{
	padding-bottom: 30px;
	border-bottom: 1px solid $gray-400;

}

.listing{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	li{
		font-size: 0.9375rem;
		& + li{
			margin-top: 15px;;
		}
		a{
			color: $dark;
			&:hover{
				color: $primary;
			}
		}

		&:before{
			font-family: FontAwesome;
			content: "\f105";
			padding-right: 10px;
			color: $primary;
		}

		span{
			float: right;
			color: $cyan;
		}
	}
}


span{
	&.icon-sort{
		&:before{
			font-size: 18px;
		}
	}
}
.inline-list{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}





.link-dark{
	color: $dark;
	&:hover{
		color: $primary;
	}
}