// Color system
$primary: #8bc34a;
$secondary: #e74c3c;
$success: #8bc34a;
$danger: #e74c3c;
$light: #a0a0a0;
$dark: #263238;

// Fonts
$font-family-sans-serif: 'Roboto', sans-serif;

// Body
$body-color: $dark;

// Links
$link-color: $dark;

// Buttons
$btn-padding-y-lg: 15px;
$btn-padding-x-lg: 30px;
$font-size-lg: 0.9375rem;

// Pagination
$pagination-active-bg: $secondary;