// container
$container-max-widths:(
  xl:1200px
);
// Color system
$primary: #8bc34a;
$secondary: #e74c3c;
$gray-50:#cccccc;
$gray-100:#f1f4f5;
$gray-200:#7a7a7a;
$gray-300:#f8f8f8;
$gray-400:#dde3e8;
$gray-500: #adb5b9;
$gray-600:#f4f6f5;
$gray-650:#f9f9f9;
$gray-700:#e0e0e0;
$gray-800: #b5b5b5;
$gray-900: #707070;
$green: #8bc34a;
$red: #e74c3c;
$orange: #ffa726;
$cyan: #546e7a;
$isotope-bgc:#f4f6f5;
$dark: #263238;
$price-card:#000000;
$icon-message-color:#ef6c00;
$info:$icon-message-color;
$sort-text:#455a64;
$breadcrumb-text:#b0bec5;
$green-modal:#76ae36;
$sort-block-fa:#90a4ae;
$sidebar-text:#70838d;
$span-icon:#a6b5bb;
$btn-blue:#42a5f5;
$mariner: #3b5998;
$blue-jeans: #55acee;
$denim: #1565c0;
$venetian-red: #bd081c;
$arapawa:#7a8b95;
$alice-blue: #f2f5f8;
$bermuda-grey: #78909c;
$footer-text:#b7c3c8;
$input-footer-color:#2f3c43;
$footer-placeholder-color:#697378;
$upload-border:#acb0b3;
$banner-wrapper-color:#90a4ae;
$gray-83:#d4d4d4;
$choose-section:#b0bec5;

// color social-group
$facebook:      $mariner;
$twitter:       $blue-jeans;
$pinterest:     $venetian-red;
$linkedin:      $denim;


// color-btn-group
$icon-meh-color:$orange;
$icon-pagelines-color:#f4511e;
$icon-bolt-color: #00bcd4;
$icon-foursquare-color:#66bb6a;
$icon-cny-color: #cfd8dc;

// body
$body-bg:$gray-600;

// sizes
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    80: 80px,
    120: 120px,
    420: 420px,
    auto: auto
  ),
  $sizes
);



// Fonts
$font-family-sans-serif: 'Roboto',sans-serif;
$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;

$small-font-size: 87.5%;
$font-size-sm: 0.75rem;

$font-weight-medium: 500 !default;
$font-weight-normal: 400 !default;

$heading-4-font-weight: bold;

$headings-color: $dark;

// Buttons
$btn-padding-y-lg: 15px;
$btn-padding-x-lg: 30px;
$font-size-lg: 0.9375rem;
$border-radius:0;
$border-radius-lg:0;
// Pagination
$pagination-active-bg: $secondary;

// Spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: 6px,
    10: 10px,
    11: 11px,
    12: 12px,
    13: 13px,
    14: 14px,
    15: 15px,
    18: 18px,
    20: 20px,
    22: 22px,
    23: 23px,
    24: 24px,
    25: 25px,
    26: 26px,
    27: 27px,
    28: 28px,
    30: 30px,
    32: 32px,
    35: 35px,
    36: 36px,
    38: 38px,
    40: 40px,
    43: 43px,
    44: 44px,
    45: 45px,
    48: 48px,
    50: 50px,
    52: 52px,
    53: 53px,
    55: 55px,
    58: 58px,
    60: 60px,
    65: 65px,
    68:68px,
    69: 69px,
    70: 70px,
    75: 75px,
    83: 83px,
    90: 90px,
    97: 97px,
    100: 100px,
    105: 105px,
    110: 110px,
    115: 115px,
    120: 120px,
    130:130px,
    135:135px,
    145: 145px,
    150: 150px,
    153:153px,
    170: 170px,
    202:202px,
    225: 225px,
  ),
  $spacers
);

// Cards
$card-spacer-y: 0.6rem;
$card-spacer-x: 0.6rem;
$card-spacer-x-sm: 0.65rem;

// Links
$link-hover-color: $cyan;
$link-hover-decoration: none;

// borders
$border-color: $gray-400;

// components
$box-shadow-sm: 0 0.0625rem 0.125rem 0 rgba(205, 214, 222, 0.75);
$box-shadow: 0 0.0625rem 0.1875rem 0 rgba(204, 216, 228, 0.75);
// $box-shadow-lg: 0.0625rem 0.125rem 0.3125rem 0 rgba(202, 215, 228, 0.75);
$box-shadow-lg: 0 1rem 1.25rem 0 rgba(216, 216, 216, 0.75);